header {
    width: 20%;
    height: 100vh;
    background: url(../img/header_bg_1.png) no-repeat center center;
    background-size: 100% 100%;
    // animation: bgAnimated 5s infinite;

    .navBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;

        &__pointer {
            transform: translate(-100%, -50%);
            position: absolute;
            top: 25%;
            left: 100%;
            z-index: 10;
            border-top: 15px solid transparent;
            border-right: 15px solid var(--cor_1);
            border-bottom: 15px solid transparent;
            transition: 1s;
        }

        &__aboutMe {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 14.6%;
            cursor: pointer;
            background-color: transparent;
            border: none;

            &:hover {
                background: radial-gradient(circle, rgba(125, 179, 201, 0.226) 0%,rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 33%;
            position: absolute;
            top: 49%;

            li {
                list-style: none;
            }
        }

        &__bnt {
            width: 300px;
            height: 60px;
            font-family: var(--font_subTitle);
            font-size: 3rem;
            color: #363636;
            background: transparent url(../img/bar.png)no-repeat center center;
            background-size: cover;
            border: none;
            cursor: pointer;

            &:hover {
                background-image: url(../img/bar_hover.png);
            }
        }
    }
}

@keyframes bgAnimated {
    0% {
        background: url(../img/header_bg_1.png) no-repeat center center;
        background-size: 100% 100%;
    }
    2% {
        background: url(../img/header_bg_2.png) no-repeat center center;
        background-size: 100% 100%;
    }
    4% {
        background: url(../img/header_bg_3.png) no-repeat center center;
        background-size: 100% 100%;
    }
    6% {
        background: url(../img/header_bg_4.png) no-repeat center center;
        background-size: 100% 100%;
    }
    8% {
        background: url(../img/header_bg_4.png) no-repeat center center;
        background-size: 100% 100%;
    }
    10% {
        background: url(../img/header_bg_3.png) no-repeat center center;
        background-size: 100% 100%;
    }
    12% {
        background: url(../img/header_bg_2.png) no-repeat center center;
        background-size: 100% 100%;
    }
    14% {
        background: url(../img/header_bg_1.png) no-repeat center center;
        background-size: 100% 100%;
    }
    100% {
        background: url(../img/header_bg_1.png) no-repeat center center;
        background-size: 100% 100%;
    }
}