.U-reset_transform {
    transform: none;
}

.U-display__none {
    display: none;
}

@keyframes U-animationBasic {
    0%{
        transform: translate(0,-20%);
    }
    100% {
        transform: translate(0,0);
    }
}