@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Coustard:wght@400;900&display=swap");
:root {
  --cor_1: #3DA6E7;
  --cor_2: #A0A0A0;
  --cor_3: #6B655D;
  --cor_font: black;
  --font_default: "Coustard", sans-serif;
  --font_title: "Bungee Shade", sans-serif;
  --font_subTitle: "Madimi One", sans-serif;
  --skillsBg: transparent url(../img/skills.png) no-repeat center center;
}

.modeDark {
  --cor_1: #000932;
  --cor_2: #787878;
  --cor_font: rgb(192, 212, 231);
  --skillsBg: transparent url(../img/skillsDark.png) no-repeat center center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

body {
  display: flex;
}

header {
  width: 20%;
  height: 100vh;
  background: url(../img/header_bg_1.png) no-repeat center center;
  background-size: 100% 100%;
}
header .navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
header .navBar__pointer {
  transform: translate(-100%, -50%);
  position: absolute;
  top: 25%;
  left: 100%;
  z-index: 10;
  border-top: 15px solid transparent;
  border-right: 15px solid var(--cor_1);
  border-bottom: 15px solid transparent;
  transition: 1s;
}
header .navBar__aboutMe {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 14.6%;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
header .navBar__aboutMe:hover {
  background: radial-gradient(circle, rgba(125, 179, 201, 0.226) 0%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
}
header .navBar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 33%;
  position: absolute;
  top: 49%;
}
header .navBar ul li {
  list-style: none;
}
header .navBar__bnt {
  width: 300px;
  height: 60px;
  font-family: var(--font_subTitle);
  font-size: 3rem;
  color: #363636;
  background: transparent url(../img/bar.png) no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
}
header .navBar__bnt:hover {
  background-image: url(../img/bar_hover.png);
}

@keyframes bgAnimated {
  0% {
    background: url(../img/header_bg_1.png) no-repeat center center;
    background-size: 100% 100%;
  }
  2% {
    background: url(../img/header_bg_2.png) no-repeat center center;
    background-size: 100% 100%;
  }
  4% {
    background: url(../img/header_bg_3.png) no-repeat center center;
    background-size: 100% 100%;
  }
  6% {
    background: url(../img/header_bg_4.png) no-repeat center center;
    background-size: 100% 100%;
  }
  8% {
    background: url(../img/header_bg_4.png) no-repeat center center;
    background-size: 100% 100%;
  }
  10% {
    background: url(../img/header_bg_3.png) no-repeat center center;
    background-size: 100% 100%;
  }
  12% {
    background: url(../img/header_bg_2.png) no-repeat center center;
    background-size: 100% 100%;
  }
  14% {
    background: url(../img/header_bg_1.png) no-repeat center center;
    background-size: 100% 100%;
  }
  100% {
    background: url(../img/header_bg_1.png) no-repeat center center;
    background-size: 100% 100%;
  }
}
main {
  width: 80%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.modeControl {
  position: fixed;
  top: 0;
  left: 80%;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  z-index: 10;
}
.modeControl__liteBnt {
  background: transparent url(../img/sun.png) no-repeat center center;
}
.modeControl__darkBnt {
  background: transparent url(../img/moon.png) no-repeat center center;
}
.modeControl__bnt {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: absolute;
  border: none;
  cursor: pointer;
  transform: translate(0, -100%);
  transition: 1s;
}

.secAboutMe {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--cor_1);
  position: relative;
  overflow: hidden;
  transition: 1s;
}
.secAboutMe__container {
  width: 60%;
  height: 100%;
  padding: 15px 50px;
  z-index: 5;
}
.secAboutMe__presentation {
  margin-top: 16%;
}
.secAboutMe h1 {
  font-size: 4rem;
  font-family: var(--font_title);
  color: var(--cor_font);
  animation: U-animationBasic 1.5s;
}
.secAboutMe h2 {
  margin-top: -55px;
  margin-bottom: 50px;
  margin-left: 2px;
  font-size: 2rem;
  font-family: var(--font_subTitle);
  font-weight: 500;
  color: var(--cor_font);
}
.secAboutMe p {
  font-size: 1.5rem;
  font-family: var(--font_default);
  font-weight: 500;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.233);
  border-radius: 0 15px 15px 15px;
  color: var(--cor_font);
}
.secAboutMe__img {
  width: 550px;
  height: 500px;
  translate: -10%;
  align-self: flex-end;
  margin-bottom: 105px;
  z-index: 5;
}
.secAboutMe .cloud {
  position: absolute;
  left: 100%;
  scale: 20%;
  animation: cloudMove 60s infinite;
}
.secAboutMe .cloud_2 {
  position: absolute;
  left: 100%;
  top: 10%;
  scale: 30%;
  animation: cloudMove 30s infinite;
}
.secAboutMe .cloud_3 {
  position: absolute;
  left: 100%;
  top: 30%;
  scale: 40%;
  animation: cloudMove 55s infinite;
}
.secAboutMe .cloud_4 {
  position: absolute;
  left: 100%;
  top: 10%;
  scale: 50%;
  animation: cloudMove 45s infinite;
}
.secAboutMe .cloud_5 {
  position: absolute;
  left: 100%;
  top: 50%;
  scale: 20%;
  animation: cloudMove 65s infinite;
  animation-delay: 4s;
}

@keyframes cloudMove {
  100% {
    translate: -400%;
  }
}
.secSkills {
  width: 100%;
  height: 100%;
}
.secSkills__imgBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--skillsBg);
  background-size: 100% 100%;
  transition: 1s;
}
.secSkills__imgBg h2 {
  font-family: var(--font_title);
  font-size: 5rem;
  color: var(--cor_3);
  margin-left: 35.5%;
}
.secSkills__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(0, 65%);
  background-color: #A2F5E0;
  transition: 15s;
}

.secProjects {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent url(../img/molduraProjetos.jpg) no-repeat center center;
  background-size: 100% 100%;
  z-index: 5;
}
.secProjects h2 {
  position: relative;
  top: 14%;
  font-family: var(--font_title);
  font-size: 3.8rem;
  text-align: center;
  margin-left: 38px;
}
.secProjects__projectsContainer {
  position: relative;
  top: 18%;
  width: 80%;
  height: 55%;
  margin: auto;
  overflow: auto;
}
.secProjects__projectsContainer::-webkit-scrollbar {
  width: 10px;
}
.secProjects__projectsContainer::-webkit-scrollbar-thumb {
  background: #D69664;
  border-radius: 15px;
}
.secProjects__projectsContainer ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}
.secProjects__projectsContainer ul li {
  position: relative;
  list-style: none;
  width: 350px;
  height: 350px;
  padding: 5px;
  background-color: bisque;
  background: transparent url(../img/postit.png) no-repeat center center;
  background-size: 100% 100%;
}
.secProjects__projectsContainer ul li h3 {
  position: relative;
  font-family: var(--font_subTitle);
  font-weight: 400;
  text-align: center;
  z-index: 1;
}
.secProjects__itemProject {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 97.2%;
  height: 89.5%;
  background-color: aqua;
  margin: auto;
}

.U-reset_transform {
  transform: none;
}

.U-display__none {
  display: none;
}

@keyframes U-animationBasic {
  0% {
    transform: translate(0, -20%);
  }
  100% {
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=style.css.map */