* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font__defaut);
}

body {
    width: 100vw;
    max-width: 1920px;
    height: 100vh;
    margin: auto;
    background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgb(37, 37, 37) 100%);
}