.secTopA {

    &__CardsContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        align-items: center;
        justify-items: center;
        width: 75%;
    }

    &__staticImg {
        position: absolute;
        top: 0;
        transition: 1s;
    }

    &__img1 {
        width: 400px;
        top: 30%;
        left: 80%;
        transform: translate(200%);
    }
}

@media screen and (max-width: 800px) {
    .secTopA {

        &__CardsContainer {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            overflow: scroll;
        }
    
        &__img1 {
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .secTopA {

        &__CardsContainer {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}