.secReviews {

    .zIndexMiddle {
        z-index: 5;
    }

    &__staticImg {
        position: absolute;
        top: 0;
        transition: 2s;
        z-index: 10;
    }

    &__img1 {
        top: 43%;
        left: -1%;
        transform: translate(-100%);
    }

    &__img2 {
        top: 43%;
        left: 61%;
        transform: translate(100%);
    }

    &__img3 {
        top: 43%;
        left: -10%;
        z-index: 9;
        transform: translate(-100%) scale(.5);
    }

    &__img4 {
        top: 43%;
        left: 70%;
        z-index: 9;
        transform: translate(100%) scale(.5);
    }

    &__imgSplash {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 800px) {
    .secReviews {
    
        &__staticImg {
            width: 50%;
            z-index: -9;
        }
    
        &__img1 {
            top: 10%;
        }
    
        &__img2 {
            top: 10%;
            left: 55%;
        }
    
        &__img3 {
            top: 10%;
            z-index: -10;
        }
    
        &__img4 {
            top: 10%;
            z-index: -10;
            left: 65%;
        }
    }
}

@media screen and (max-width: 500px) {
    .secReviews {
    
        &__img1 {
            top: 20%;
        }
    
        &__img2 {
            top: 20%;
        }
    
        &__img3 {
            top: 20%;
        }
    
        &__img4 {
            top: 20%;
        }
    }
}