.secTopA {

    &__CardsContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        align-items: center;
        justify-items: center;
        width: 75%;
    }

    &__staticImg {
        position: absolute;
        top: 0;
        transition: 1s;
    }

    &__img1 {
        width: 400px;
        top: 30%;
        left: 80%;
        transform: translate(200%);
    }
}