.secTalkToUs {
    &__container {
        @include flex-centralize();
        gap: 30px;
        width: 100%;
        height: 90%;
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        padding: 15px;
        cursor: pointer;
        transition: 1s;
        text-align: justify;

        h3 {
            font-size: 4rem;
            margin-bottom: 30px;
            transition: .5s;
        }

        p {
            font-size: 2rem;
            transition: .5s;
        }

        &:hover {
            box-shadow: 0 0 15px rgb(255, 255, 255);
            transition: .2s;
        }
    }

    &__card--cor1 {
        background: var(--cor4) url(/assets/imgs/S5/gear-solid_gren.png) no-repeat center center;
        background-size: 80%;
        transform: translate(-300%);
    }

    &__card--cor2 {
        background: var(--cor3) url(/assets/imgs/S5/file-pen-solid.png) no-repeat center center;
        background-size: 80%;
        transform: translate(0, -200%);
    }

    &__card--cor3 {
        background: var(--cor11) url(/assets/imgs/S5/user-tie-solid.png) no-repeat center center;
        background-size: 70%;
        transform: translate(300%);
    }

    &__footer {
        @include flex-centralize();
        width: 100%;
        height: 10%;
        background-color: var(--cor13);
        transform: translate(0, 100%);
        transition: 1s;

        a {
            height: 90%;

            img {
                height: 100%;
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .secTalkToUs {
        &__container {
            flex-direction: column;
            gap: 10px;
        }

        &__card {
            width: 200px;
            height: 150px;

            h3 {
                font-size: 2.5rem;
            }
    
            p {
                font-size: 1.5rem;
            }
        }
    }
}
