@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");
:root {
  --cor1: #161F30;
  --cor2: #173540;
  --cor3: #217373;
  --cor4: #84B026;
  --cor5: #3D3D3D;
  --cor6: #1b5a5a;
  --cor7: #5d2200;
  --cor8: rgb(0, 155, 155);
  --cor9: rgb(233, 233, 233);
  --cor10: #8C031C;
  --cor11: #BF0426;
  --cor12: #52000f;
  --shadow__defaut: 5px 5px 5px rgba(0, 0, 0, 0.356);
  --background__defaut: transparent url("/assets/imgs/bkgGamer.png") repeat ;
  --font__defaut: "Josefin Sans", sans-serif, Helvetica;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font__defaut);
}

body {
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  margin: auto;
  background: radial-gradient(circle, rgb(61, 61, 61) 0%, rgb(37, 37, 37) 100%);
  position: relative;
}

.secHome {
  background: var(--background__defaut);
}
.secHome__brandLogo {
  width: 850px;
  z-index: 10;
  opacity: 0%;
  transition: 1.5s;
}
.secHome__navBar {
  width: 850px;
  background: linear-gradient(to bottom, var(--cor7), transparent);
  height: 100px;
  z-index: 10;
  opacity: 0%;
  transition: 1.5s;
}
.secHome__navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
}
.secHome__navBar ul li button {
  margin: 0 10px;
  padding: 5px;
  background-color: var(--cor4);
  color: var(--cor1);
  font-weight: 900;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
  transition: 0.3s;
}
.secHome__navBar ul li button:hover {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--cor2);
  margin: 0 5px;
  padding: 10px;
  transition: 0.3s;
}
.secHome__imgStatic {
  position: absolute;
  top: 0;
  transition: 1s;
}
.secHome__img1 {
  width: 400px;
  top: 45%;
  left: 80%;
  z-index: 10;
  transform: translate(100%, 20%) rotate(30deg);
}
.secHome__img2 {
  width: 400px;
  top: 40%;
  left: 5%;
  z-index: 10;
  transform: translate(-120%, 50%) rotate(30deg);
}
.secHome__img3 {
  width: 330px;
  top: 19%;
  left: -2%;
  z-index: 9;
  transform: rotate(50deg);
  transform: translate(-100%, 50%) rotate(30deg) scale(0.01, 0.01);
}
.secHome__img4 {
  width: 300px;
  top: 10%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, 190%) scale(0.5, 0.5);
}
.secHome__img5 {
  width: 300px;
  top: 15%;
  left: 85%;
  z-index: 9;
  transform: translate(100%) scale(0.5, 0.5);
}
.secHome__img6 {
  width: 220px;
  top: 3%;
  left: 78%;
  z-index: 8;
  transform: translate(200%) rotate(30deg);
}
.secHome__img7 {
  width: 230px;
  top: 0%;
  left: 10%;
  z-index: 8;
  transform: translate(-190%, -50%) rotate(-30deg);
}

.secTopA__CardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
  width: 75%;
}
.secTopA__staticImg {
  position: absolute;
  top: 0;
  transition: 1s;
}
.secTopA__img1 {
  width: 400px;
  top: 30%;
  left: 80%;
  transform: translate(200%);
}

.secReviews .zIndexMiddle {
  z-index: 5;
}
.secReviews__staticImg {
  position: absolute;
  top: 0;
  transition: 2s;
  z-index: 10;
}
.secReviews__img1 {
  top: 43%;
  left: -1%;
  transform: translate(-100%);
}
.secReviews__img2 {
  top: 43%;
  left: 61%;
  transform: translate(100%);
}
.secReviews__img3 {
  top: 43%;
  left: -10%;
  z-index: 9;
  transform: translate(-100%) scale(0.5);
}
.secReviews__img4 {
  top: 43%;
  left: 70%;
  z-index: 9;
  transform: translate(100%) scale(0.5);
}
.secReviews__imgSplash {
  transform: scale(1.5);
}

.secTalkToUs__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  height: 90%;
}
.secTalkToUs__card {
  width: 300px;
  height: 300px;
  padding: 15px;
  background-color: aquamarine;
}
.secTalkToUs__card h3 {
  font-size: 4rem;
  margin-bottom: 30px;
}
.secTalkToUs__card p {
  font-size: 2rem;
}
.secTalkToUs__card--cor1 {
  background: var(--cor4) url(/assets/imgs/S5/gear-solid_gren.png) no-repeat center center;
  background-size: 90%;
  background-color: var(--cor4);
}
.secTalkToUs__card--cor2 {
  background-color: var(--cor3);
}
.secTalkToUs__card--cor3 {
  background-color: var(--cor11);
}
.secTalkToUs footer {
  width: 100%;
  height: 10%;
  background-color: antiquewhite;
}

.slider {
  --cardWidth: 450px;
  display: flex;
  align-items: center;
  width: 1350px;
  height: 700px;
  gap: 10px;
  overflow: hidden;
  position: relative;
  transform: translate(0, -200%);
  transition: 1s;
}
.slider__card {
  width: var(--cardWidth);
  height: 600px;
  background-color: var(--cor2);
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: var(--shadow__defaut);
  filter: blur(2px);
  z-index: 1;
  position: absolute;
  transform: scale(0.9, 0.9);
  transition: 1s;
}
.slider__cardHead {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 45%;
  padding: 10px;
}
.slider__cardHead img {
  width: 45%;
  height: 100%;
  margin: 0 5%;
  background-color: var(--cor8);
}
.slider__cardHead div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.slider__cardHead div h3 {
  color: var(--cor9);
}
.slider__cardHead div .name {
  width: 115%;
  background-color: var(--cor3);
  padding: 10px;
  font-size: 2.5rem;
  font-weight: 600;
}
.slider__cardHead div .gender {
  background-color: var(--cor8);
  padding: 10px;
  border-radius: 999px;
}
.slider__cardBody {
  padding: 10px;
  text-align: justify;
  color: var(--cor9);
  border-top: 2px solid var(--cor9);
}
.slider__cardPosition1 {
  left: calc(25% - var(--cardWidth) / 2);
}
.slider__cardPosition2 {
  left: calc(50% - var(--cardWidth) / 2);
}
.slider__cardPosition3 {
  left: calc(75% - var(--cardWidth) / 2);
}
.slider__slider__bnt {
  width: 150px;
  height: 100px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: red;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 11;
  transition: 0.1s;
}
.slider__slider__bnt:active {
  width: 125px;
  height: 75px;
  margin: 10px;
  transition: 0.1s;
}
.slider__slider__forLeft {
  background: transparent url(/assets/imgs/S3/Slider/caret-left-solid.svg) no-repeat center center;
  left: 25%;
}
.slider__slider__forRigth {
  background: transparent url(/assets/imgs/S3/Slider/caret-right-solid.svg) no-repeat center center;
  left: 75%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 350px;
  position: relative;
  border: 5px solid white;
  background-color: var(--cor8);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--shadow__defaut);
  transform: translate(0%, 300%);
  transition: 1.5s;
}
.card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 20%;
  background-color: var(--cor6);
  padding: 3px;
  font-size: 2.2rem;
  text-align: center;
}
.card__img {
  width: 185px;
  height: 75%;
  margin: 10px 0;
}
.card__classification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 60px;
  height: 60px;
  background-color: var(--cor1);
  font-size: 3rem;
  font-weight: 700;
  color: white;
  border-radius: 100%;
  border: 3px solid white;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-60%, -60%);
  box-shadow: 5px 5px 5px var(--shadow__defaut);
}

.card--red {
  background-color: var(--cor11);
}

.card__title--red {
  background-color: var(--cor10);
}

.card__classification--red {
  background-color: var(--cor12);
}

@keyframes Animation-returnToTopBnt {
  100% {
    top: 95%;
  }
}
.U-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.U-title {
  width: 75%;
  text-align: center;
  font-size: 8rem;
  color: white;
  margin-bottom: 30px;
  opacity: 0;
  transform: translate(0, -50%);
  transition: 1.5s;
}
.U-title span {
  color: var(--cor6);
}

.U-line {
  max-width: 75%;
  width: 75%;
  height: 2px;
  background-color: white;
  margin: 20px auto;
  transition: 1.5s;
}

.U-returnToTopBnt {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 90%;
  z-index: 101;
  animation: Animation-returnToTopBnt 1s alternate infinite;
  background: transparent url("/assets/imgs/angles-up-solid.svg") no-repeat center center;
  background-size: 30px;
  transition: 1s;
}
.U-returnToTopBnt:hover {
  cursor: pointer;
}
.U-returnToTopBnt:active {
  background-color: rgba(255, 255, 255, 0.158);
  transition: 0.3s;
}

.translateZero {
  transform: none;
  transition: 1.5s;
}

.filterZero {
  filter: none;
  transition: 1s;
}

.opacityOff {
  opacity: 100%;
  transition: 1.5s;
}

.widthZero {
  width: 0;
  transition: 1.5s;
}

.ZIndexUp {
  z-index: 100;
}

.ZIndexDown {
  z-index: 0;
}

.displayNone {
  display: none;
}/*# sourceMappingURL=style.css.map */