@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");
:root {
  --cor1: #161F30;
  --cor2: #173540;
  --cor3: #217373;
  --cor4: #84B026;
  --cor5: #3D3D3D;
  --cor6: #1b5a5a;
  --cor7: #5d2200;
  --cor8: rgb(0, 155, 155);
  --shadow__defaut: rgba(0, 0, 0, 0.356);
  --background__defaut: transparent url("/assets/imgs/bkgGamer.png") repeat ;
  --font__defaut: "Josefin Sans", sans-serif, Helvetica;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font__defaut);
}

body {
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  margin: auto;
  background: radial-gradient(circle, rgb(61, 61, 61) 0%, rgb(37, 37, 37) 100%);
  position: relative;
}

.secHome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--background__defaut);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
.secHome__brandLogo {
  width: 900px;
  z-index: 10;
  opacity: 0%;
  transition: 1.5s;
}
.secHome__navBar {
  width: 680px;
  background: linear-gradient(to bottom, var(--cor7), transparent);
  height: 100px;
  z-index: 10;
  opacity: 0%;
  transition: 1.5s;
}
.secHome__navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
}
.secHome__navBar ul li {
  height: 35px;
  margin: 0 10px;
  padding: 5px;
  background-color: var(--cor4);
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
  transition: 0.3s;
}
.secHome__navBar ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--cor2);
  font-weight: 600;
}
.secHome__navBar ul li:hover {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--cor2);
  height: 45px;
  margin: 0 5px;
  padding: 10px;
  transition: 0.3s;
}
.secHome__imgStatic {
  position: absolute;
  top: 0;
  transition: 1s;
}
.secHome__img1 {
  width: 400px;
  top: 45%;
  left: 80%;
  z-index: 10;
  transform: translate(100%, 20%) rotate(30deg);
}
.secHome__img2 {
  width: 400px;
  top: 40%;
  left: 5%;
  z-index: 10;
  transform: translate(-120%, 50%) rotate(30deg);
}
.secHome__img3 {
  width: 330px;
  top: 19%;
  left: -2%;
  z-index: 9;
  transform: rotate(50deg);
  transform: translate(-100%, 50%) rotate(30deg) scale(0.01, 0.01);
}
.secHome__img4 {
  width: 300px;
  top: 20%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, 190%) scale(0.5, 0.5);
}
.secHome__img5 {
  width: 300px;
  top: 15%;
  left: 85%;
  z-index: 9;
  transform: translate(100%) scale(0.5, 0.5);
}
.secHome__img6 {
  width: 220px;
  top: 3%;
  left: 78%;
  z-index: 8;
  transform: translate(200%) rotate(30deg);
}
.secHome__img7 {
  width: 230px;
  top: 0%;
  left: 10%;
  z-index: 8;
  transform: translate(-190%, -50%) rotate(-30deg);
}

.secTopA {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}
.secTopA__title {
  width: 75%;
  text-align: center;
  font-size: 8rem;
  color: white;
  margin-bottom: 30px;
  opacity: 0;
  transform: translate(0, -50%);
  transition: 1.5s;
}
.secTopA__title span {
  color: var(--cor6);
}
.secTopA__line {
  max-width: 75%;
  width: 75%;
  height: 2px;
  background-color: white;
  margin: 20px auto;
  transition: 1.5s;
}
.secTopA__CardsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
  width: 75%;
}
.secTopA__staticImg {
  position: absolute;
  top: 0;
  transition: 1s;
}
.secTopA__img1 {
  width: 400px;
  top: 30%;
  left: 80%;
  transform: translate(200%);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 350px;
  position: relative;
  border: 5px solid white;
  background-color: var(--cor8);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--shadow__defaut);
  transform: translate(0%, 300%);
  transition: 1.5s;
}
.card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 20%;
  background-color: var(--cor6);
  padding: 3px;
  font-size: 2.2rem;
  text-align: center;
}
.card__img {
  width: 185px;
  height: 75%;
  margin: 10px 0;
}
.card__classification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 60px;
  height: 60px;
  background-color: var(--cor1);
  font-size: 3rem;
  font-weight: 700;
  color: white;
  border-radius: 100%;
  border: 3px solid white;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-60%, -60%);
  box-shadow: 5px 5px 5px var(--shadow__defaut);
}

@keyframes growWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes toEmerge {
  0% {
    transform: translate(0, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}
.translateZero {
  transform: translate(0, 0);
  transition: 1.5s;
}

.opacityOff {
  opacity: 100%;
  transition: 1.5s;
}

.widthZero {
  width: 0;
  transition: 1.5s;
}

.ZIndexUp {
  z-index: 100;
}/*# sourceMappingURL=style.css.map */