.cardExtended__container {
    display: flex;
    width: 1700px;
    height: 900px;
    margin: auto;
    background-color: var(--cor_1);
    border-radius: 15px;
    overflow: hidden;

    & img {
        width: 35%;
        height: 100%;
        cursor: pointer;
    }

    .cardExtended {

        &__img {
            width: 35%;
            height: 100%;
            cursor: pointer;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        &__choseImg {
            @include flex-centralize(column);
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.233);

            & label {
                font-size: 3rem;
                font-weight: 500;
            }
        }

        &__info {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 1fr);
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 65%;
            height: 100%;
            padding: 20px;
            font-size: 3rem;
            font-weight: 800;

            & h3 {
                font-size: 2.8rem
            }
        }

        &__centralize {
            @include flex-centralize(row);
            justify-content: flex-start;
        }

        &__input input,&__input select  {
            height: 50px;
            background-color: var(--cor_6);
            border:  none;
            font-size: 3rem;
            border-radius: 5px;
            padding: 10px 5px;
        }

        &__input select {
            cursor: pointer;
        }

        &__yourColors {
            grid-column-start: 6;
            flex-direction: row;
            gap: 5px;
            justify-content: flex-end;
            div {
                width: 50px;
                height: 50px;
                cursor: pointer;
                border: 2px solid white;
            }

        }

        &__changeColor {
            grid-column-start: 7;
            justify-self: flex-start;
            width: 50px;
            height: 50px;
            border: none;
        }

        &__bntDelete {
            // grid-row-start: 1;
            grid-column-start: 8;
            justify-self: flex-end;
            justify-content: center;
            width: 100px;
            height: 50px;
            font-size: 2.2rem;
            background-color: var(--cor_3);
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        &__confirmBnts {
            gap: 5px;

            & .bnt {
                width: 50px;
                height: 50px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }

            & .confirm {
                background: transparent url( /assets/img/square-check-regular.svg) no-repeat center center;

                &:hover {
                    background-color: var(--cor_9);
                }
            }

            & .cancel {
                background: transparent url( /assets/img/ban-solid.svg) no-repeat center center;
                background-size: 45px;
                &:hover {
                    background-color: var(--cor_8);
                }
            }
        }

        &__title {
            // display: inline-block;
            // grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 7;
            width: 100%;
            height: 50px;
            flex-direction: column;
            justify-content: center;
            // background-color: rgb(46, 3, 148);

            & div {
                width: 100%;
                padding: 3px 5px;
                margin-left: 5px;
                border-radius: 5px;
                background-color: var(--cor_6);
                font-weight: 400;
                cursor: text;
            }

            & input {
                width: 100%;
            }

            & h3 {
                width: 100%;
            }
        }

        &__bntActive {
            // grid-row-start: 2;
            grid-column-start: 7;
            grid-column-end: 9;
            // justify-self: flex-end;
            width: 100%;
            height: 50px;
            border: none;
            flex-direction: column;
            justify-content: center;
            // background-color: rgb(46, 3, 148);

            

            & button {
                width: 100px;
                border-radius: 999px;
                border: none;
                padding: 2px;
                cursor: pointer;
                transition: .5s;
                
                & div {
                    width: 45%;
                    height: 40px;
                    background-color: black;
                    border-radius: 100%;
                    transition: .5s;
                }
            }

            &_--AC {
                & button {
                    background-color: var(--cor_2);

                    & > div {
                        margin-left: 55%;
                        transition: .5s;
                    }
                }    
            }
        }

        &__season {
            // grid-row-start: 3;
            grid-column-start: 1;
            grid-column-end: 4;
            width: 100%;
            height: 50px;
            // background-color: rgb(46, 3, 148);

            & div {
                padding: 3px 5px;
                margin-left: 5px;
                border-radius: 5px;
                background-color: var(--cor_6);
                font-weight: 400;
                cursor: text;
            }

            & input {
                width: 100px;
            }
        }

        &__chapter {
            grid-column-start: 4;
            grid-column-end: 9;
            width: 100%;
            height: 50px;
            // background-color: rgb(46, 3, 148); 

            & div {
                padding: 3px 5px;
                margin-left: 5px;
                border-radius: 5px;
                background-color: var(--cor_6);
                font-weight: 400;
                cursor: text;
            }

            & input {
                width: 100px;
            }
        }

        &__assessment {
            // grid-row-start: 4;
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            height: 50px;
            // background-color: rgb(46, 3, 148);

            & div {
                padding: 3px 5px;
                margin-left: 5px;
                border-radius: 5px;
                background-color: var(--cor_6);
                font-weight: 400;
                cursor: text;
            }
        }

        &__tag {
            // grid-row-start: 3;
            grid-column-start: 3;
            grid-column-end: 6;
            width: 100%;
            height: 50px;
            // background-color: rgb(46, 3, 148);

            & div {
                width: 60%;
                padding: 3px 5px;
                margin-left: 5px;
                border-radius: 5px;
                background-color: var(--cor_6);
                font-weight: 400;
                cursor: text;
            }
        }

        &__type {
            grid-column-start: 6;
            grid-column-end: 9;
            width: 100%;
            height: 50px;
            // background-color: rgb(46, 3, 148);

            & div {
                width: 60%;
                padding: 3px 5px;
                margin-left: 5px;
                border-radius: 5px;
                background-color: var(--cor_6);
                font-weight: 400;
                cursor: text;
            }
        }

        &__comments {
            width: 100%;
            height: 100%;
            grid-row-start: 5;
            grid-row-end:9;
            grid-column-start: 1;
            grid-column-end: 9;
            background-color: var(--cor_6);
            padding: 15px;
            border-radius: 5px;

            & textarea, div {
                width: 100%;
                height: 90%;
                font-size: 3rem;
                padding: 5px;
                background-color: var(--cor_7);
                cursor: text;
            }
        }
    }
}