.cards__container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-items: center;
    gap: 5px;
    width: 90%;
    margin: auto;

    .card {
        @include flex-centralize(column);
        justify-content: space-between;
        width: 200px;
        height: 325px;
        padding: 6px;
        background-color: var(--cor_1);
        border-radius: 5px;
        position: relative;

        div {
            width: 100%;
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
        }

        img {
            width: 100%;
            height: 90%;
        }

        h3 {
            width: 100%;
            height: 10%;
            font-size: 1.5rem;
            text-align: center;
            padding: 5px;
        }

        &__capa {
            @include flex-centralize(column);
            opacity: 0%;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.411);
            position: absolute;
            top: 0;
            border-radius: 5px;

            h3 {
                font-size: 3rem;
                pointer-events: none;
            }

            &:hover {
                opacity: 100%;
            }
        }

        &__capaClickable {
            width: 100%;
            height: 100%;
            background-color: transparent;
            position: absolute;
            top: 0;
            border-radius: 5px;
            cursor: pointer;
            z-index: 1;

            &:hover ~ .card__capa{
                opacity: 100%;
            }
        }
    }
}