html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor_2);
    font-family: var(--font_default);
}

body {
    background-color: var(--cor_4);
}
