.searchPopUp {
    &__closeArea {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: 10;
        cursor: pointer;
    }

    &__container {
        @include flex-centralize(column);
        width: 250px;
        background-color: var(--cor_1);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
        gap: 5px;
        position: absolute;
        z-index: 10;
    }

    &__title {
        font-size: 2rem;
    }

    &__container div {
        @include flex-centralize(row);
        justify-content: space-between;
        width: 100%;
    }

    &__container input {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    &__container select {
        width: 60%;
        height: 30px;
        background-color: var(--cor_7);
        cursor: pointer;
    }

    &__bnt {
        font-size: 2rem;
        padding: 5px;
        background-color: var(--cor_7);
        color: var(--cor_1);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 15px;
    }
}