* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    height: 800px;
    padding: 15px;
    background-color: black;
    position: relative;
    transition: 0.5s;

    &__auxiliary {
        position: relative;
        overflow: hidden;
    }
}

.item {
    width: 1200px;
    height: 150px;
    background-color: rgb(101, 152, 197);
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight: bold;
    border: 1px solid black;

    &:active {
        // cursor: grabbing;
        opacity: 100%;
    }

    &__shadow {
        background-color: transparent;
        border: 1px solid white;
        border-style: dashed;
        // animation: open 0.1s;
    }
}

@keyframes open {
    0% {
        height: 0px;
    }
    100% {

    }
}



